/* Ini File CSS */

.main-header {
  text-align: left;
}

/* main {
  display: flex;
  justify-content: space-evenly;
} */

/* .main-section {
  width: 40%;
} */

footer {
  text-align: center;
}

form {
  background-color: rgb(183, 183, 183);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
}

.form-BB {
  background-color: rgb(183, 183, 183);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
  text-align: center;
}

.form-item {
  display: grid;
}

/* .form-item-jk {
  justify-content: left;
} */

input[type="number"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.grid-container {
  display: grid; /* Aktifkan grid layout */
  grid-template-columns: 1fr 1fr; /* Bagi dua kolom secara merata */
  height: 100vh; /* Buat tinggi penuh layar */
  gap: 5%;
}

.grid-item {
  display: flex; /* Opsional: untuk centering konten */
  align-items: center; /* Centering vertikal */
  justify-content: center; /* Centering horizontal */
  border: 1px solid #ccc; /* Opsional: untuk memudahkan melihat batas */
  font-size: 100px; /* Opsional: ukuran teks */
}

body {
  margin: 100px 150px;
  font-family: poppins;
}
.bg-cadet-blue-antiquewhite {
  background-color: skyblue;
  color: rgb(78, 38, 38);
  padding: 5px;
  border-radius: 4px;
}

.bg-alice-blue {
  padding: 5px;
  border-radius: 4px;
  stroke: none;
}

.bg-alice-blue2 {
  background-color: skyblue;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 4px;
  stroke: none;
}

.submit-hasil {
  background-color: skyblue;
  color: rgb(78, 38, 38);
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.main-footer {
  margin-top: 120px;
}

.main-section2 {
  background-color: rgb(183, 183, 183);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
}

.main-section3 {
  background-color: rgb(183, 183, 183);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
  text-align: center;
}

.item-below {
  background-color: rgb(183, 183, 183);
  padding: 16px;
  border-radius: 8px;
  display: grid;
  gap: 20px;
  text-align: center;
}
